.bsdf{
    margin-top: 10px;
    width: 100%;
}
.ght{
    text-align: center;
    background-color: rgb(212, 197, 197);
    margin-top: 10px;
   
}
.house{
    color: rgb(37, 179, 37);

}
.par{
    margin-top: 6px;
    font-size: 12px;
}
