.navrow{
    margin-top: 10px;
}
.butdiv{
    margin: 0px;
    text-align: center;
}
.but1{
    width: 100%;
    margin: auto;
}
.but2{
    width: 100%;
}
.but3{
    width: 100%;
}
.but4{
    width: 100%;
}
.but5{
    width: 100%;
}
.but6{
    width: 100%;
}